$breakpoints: ('sm': 'screen and (min-width: 400px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

$maincolorBlack : hsl(240, 1%, 25%);
$mainchar: #f0f0f0;
//headerの高さを指定します。広げたい場合はここを変更して下さい。
$headerHeight:100px;
