DATABASE_URL="mysql://root:pwd@localhost:3306/ctrlPublicSite"
NUXT_SESSION_SECRET="replace-with-a-random-string-at-least-32-chars"
NUXT_DISCORD_URL=""
NUXT_SENDER_EMAIL_ADDRESS=""
NUXT_SENDER_EMAIL_PASSWORD=""
WHOIS_IMG=""
NUXT_DATA_DIR=""
