.page-enter-active,
.page-leave-active {
  transition: opacity 0.35s ease;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

.display-none {
  display: none;
}

.black {
  color: #030303;
}

.mp0 {
  margin: 0;
  padding: 0;
}
